.container {
    display: flex;
}

.item-section {
    width: 50%;
    height: auto;
    color: hsl(228, 12%, 48%);
    overflow: hidden;
    box-sizing: border-box;
}

.item-section:nth-child(2) {
    padding: 25px;
}

@media screen and (max-width: 620px) {
    .container {
        flex-direction: column;
    }

    .item-section {
        position: relative;
        height: 50%;
        width: auto;
    }
}