.card {
    width: 35rem;
    height: 24rem;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    -ms-transform: translate(0%, 50%);
    transform: translate(0%, 50%);
}


@media screen and (max-width: 620px) {
    .card {
        width: 80%;
        height: auto;
        -ms-transform: translate(0%, 2%);
        transform: translate(0%, 2%);
    }

}